@media (min-width: 1440px) {
  .team {
    &__item {
      &:nth-child(1) {
        margin-left: 21px;
      }

      &:nth-child(2) {
        margin-left: 244px;
      }

      &:nth-child(3) {
        margin-left: 580px;
      }
    }
  }
}

@media (max-width: 1370px) {
  .advice {
    &__grid {
      max-width: 645px;
      padding-bottom: 152px;
    }

    &__item {

      &:nth-child(4) {
        height: 311px;
        width: 311px;
        top: 173px;
        left: 150px;
      }

      &:nth-child(5) {
        top: -90px;
        left: -311px;
      }

      &:nth-child(6) {
        top: -90px;
        left: 0;
      }

      &:nth-child(7) {
        top: -285px;
        left: 115px;
      }

      &:nth-child(8) {
        top: -285px;
        left: 196px;
      }

      &:nth-child(9) {
        top: -171px;
        left: -300px;
      }

      &:nth-child(10) {
        top: -171px;
        left: 11px;
      }
    }
  }

  .team {
    &__container {
      max-height: 660px;
    }

    &__list{
      // zoom: 0.9;
      @include zoom(0.9);
      -moz-transform-origin: left center;
    }
  }

  .reviews {
    &__comments {
      // margin-right: 48px;
    }

    &__item {
      // min-width: 0;
    }
  }
}

@media (max-width: 1160px) {
  .header {
    &__container {
      position: relative;
      justify-content: space-between;
    }

    &__burger {
      display: flex;
    }

    .main-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__nav {
      display: none;
    }

    &__form {
      max-width: calc(495px / 1.5);
      margin-left: 0;
    }
  }

  .team {
    &__container {
      max-height: 550px;
    }

    &__list {
      // zoom: 0.75;
      @include zoom(0.75);
    }
  }

  .footer {
    &__list {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .reviews {
    &__item {
      margin-right: 5px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    &__subtitle, &__text {
      padding: 0 47px;
    }
  }

  .team {
    &__container {
      max-height: 810px;
    }

    &__list {
      padding-bottom: 85px;
    }

    &__item {
      &:nth-child(1) {
        margin-top: 112px;
      }

      &:nth-child(2) {
        margin-top: -94px;
        margin-left: 38vw;
        // zoom: 0.864;
        @include zoom(0.864);
      }

      &:nth-child(3) {
        margin-top: -86px;
        margin-left: 1.5vw;
        // zoom: 0.89;
        @include zoom(0.89);
      }
    }
  }

  .header {
    &__form {
      max-width: calc(495px / 2);
      margin-left: 0;
    }
  }
}

@media (max-width: 725px) {

  .header {
    .main-logo {
      position: static;
      margin-left: auto;
      margin-right: 5%;
      transform: none;
    }

    &__form {
      max-width: calc(495px / 2);
      margin-left: 0;
    }
  }

  body {
    font-size: 14px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle, .reviews__number {
    font-size: 22px;
  }

  .advice {
    min-height: 0;
    margin-bottom: 55px;

    &__container {
      padding-bottom: 60px;
    }

    &__grid {
      width: 690px;
      @include zoom(0.7);
      // zoom: 0.7;
    }

    &__text {
      font-size: 22px;
    }
  }

  .team {
    &__title {
      transform: rotate(-90deg) translate(-190%, 0);
    }
  }

  .reviews {
    &__title {
      margin-bottom: 0;
    }

    &__list {
      margin-top: 32px;
    }
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .main-logo {
    display: none;
  }

  .header {
    &__form {
      max-width: 83%;
    }

    &__input {
      font-size: 18px;
    }
  }

  .team {
    &__container {
      max-height: 645px;
      padding-left: 0;
    }

    &__list {
      @include zoom(0.6);
      // zoom: 0.6;
    }
  }

  .reviews{
    &__buttons {
      @include zoom(0.8);
      // zoom: 0.8;
    }
  }
}

@media (max-width: 480px) {
  .advice {
    &__grid {
      @include zoom(0.55);
      // zoom: 0.55;
    }
  }

  .team {
    &__container {
      max-height: 540px;
    }

    &__list {
      @include zoom(0.5);
      // zoom: 0.5;
    }
  }

  .reviews {
    &__buttons {
      // @include zoom(0.65);
      // zoom: 0.65;
    }

    &__card {
      padding: 33px 20px;
    }

    &__text {
      @include flex-center;
      flex-direction: column;
      text-align: justify;
    }

    &__img {
      margin-top: 0;
      margin-bottom: 33px;
    }
  }
}

@media (max-width: 395px) {
  .header, .footer {
    @include zoom(0.68);
    // zoom: 0.68;
  }

  .advice {
    &__grid {
      @include zoom(0.46);
      // zoom: 0.46;
    }

    &__text {
      font-size: 30px;
    }
  }

  .about {
    &__text, &__subtitle {
      padding: 0 10px;
    }

    &__text {
      text-align: justify;
      text-indent: 2em;
    }
  }

  .team {
    &__container {
      max-height: 440px;
    }

    &__item {
      &:nth-child(1) {
        @include zoom(0.85);
        // zoom: 0.85;
      }

      &:nth-child(2) {
        @include zoom(0.7);
        // zoom: 0.7;
      }

      &:nth-child(3) {
        @include zoom(0.65);
        // zoom: 0.65;
      }
    }
  }

  .reviews {
    &__container {
      padding-left: 15px;
    }

    &__title {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 345px) {
  .advice {
    &__title {
      font-size: 24px;
    }

    &__grid {
      @include zoom(0.44);
      // zoom: 0.44;
    }
  }
}
