.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 0;
  z-index: -9;
  @include transition(0.3s, all);
}

.mobile {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
  @include transition(0.5s, all);

  .menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 85vw;
    background-color: #fff;
  }

  .header {
    &__container {
      padding: 0 32px 0 47px;
    }

    &__burger {
      position: relative;
      display: flex;

      &-line {
        &:nth-child(1) {
          @include transform-rotate(45deg);
        }

        &:nth-child(2) {
          position: absolute;
          top: 0;
          right: 0;
          @include transform-rotate(-45deg);
        }
      }
    }
  }

  .main {
    @include flex-center;
    justify-content: center;
    flex-grow: 1;

    &__list {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:hover {
        color: #797979;
      }
    }
  }

  .footer {

    &__container {
      justify-content: center;
    }

    &__contacts {
      margin-left: 0;
    }
  }
}

.transform-mobile {
  left: 0;
}

.bg-visible {
  opacity: 1;
  z-index: 9;
}
