.reviews {
  margin-bottom: 82px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 35px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__buttons {
    display: flex;
    max-width: calc(113px * 2);
    // margin-right: 47px;
  }

  &__btn {
    @include flex-center;
    justify-content: space-around;
    height: 52px;
    width: 113px;
    border: 1px solid #BDBDBD;
    background-color: #F9FAFC;
    @include transition(0.4s, all);

    &:nth-child(1) {
      border-radius: 5px 0 0 5px;
    }

    &:nth-child(2) {
      border-radius: 0 5px 5px 0;
    }
  }

  &__arrow-left, &__arrow-right {
    display: inline-block;
    height: 16px;
    width: 10px;
    opacity: 0.3;
    @include transition(0.3s, all);
  }

  &__arrow-left {
    background: url('../img/arrow_left_hover.svg');
  }

  &__arrow-right {
    background: url('../img/arrow_right_hover.svg');
  }

  &__left, &__right {
    display: inline-block;
    font-family: $font-family;
    font-size: 16px;
  }

  &__left {
    margin-right: 14px;
    text-align: right;
  }

  &__right {
    margin-left: 12px;
    text-align: left;
  }

  &__comments {
    position: relative;
    width: 100%;
    // margin-right: 35px;
    overflow: hidden;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include transition(0.5s, all);
  }

  &__item {
    margin-right: 32px;
  }

  &__article {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: inherit;
  }

  &__number {
    margin-right: 18px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $comment-number;
  }

  &__subtitle {
    margin-bottom: 0px;
  }

  &__card {
    min-height: 464px;
    width: 100%;
    margin-top: 10px;
    padding: 33px 24px 48px 33px;
    background-color: #fff;
  }

  &__text {
    line-height: 24px;
    text-align: right;
  }

  &__img {
    float: left;
    margin: 0 0 3px 0;
  }
}

.reviews__btn:hover {
  background-color: #E2FA1D;
}

.reviews__btn:hover .reviews__arrow-left,
.reviews__btn:hover .reviews__arrow-right {
  opacity: 1;
}

// .slider {
//   position: relative;
//   overflow: hidden;
// }
// .slider__wrapper {
//   display: flex;
// }
// .slider__item {
//   flex: 0 0 50%; /* определяет количество активных слайдов (в данном случае 2 */
//   max-width: 40%; /* определяет количество активных слайдов (в данном случае 2 */
// }

.reviews__list button {
  display: none;
}

.slick-list {
  max-height: 100%;
}

