$header-hover: #E2FA1D;
$header-bg: #F9FAFC;

$advice-bg: #fff;
$team-bg: #E2FA1D;

$footer-bg: #E2FA1D;
$footer-hover: #F9FAFC;

$font-family: 'Roboto', sans-serif;
$font-color: #333333;
$descr-color: #797979;
$comment-number: #838383;

$svg-icon-color: #333333;
$svg-icon-hover: #9CB400;

